{% load compress %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
  <title>
    {% block title %}Users Management{% endblock title %}
  </title>
  {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
  {% endcompress %}
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script></head>
  <script src="{% static 'licitacion_row.js' %}" defer></script>

<body>
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>
