{% extends "base.html" %}

{% block title %}
{{block.super}}: {{title}}
{% endblock %}

{% block content %}
<div class="m-5">
  <h3 class="text-3xl font-extrabold">Licitacion: {{ licitacion.titulo }}</h3>
  <br>
  <h4 class="text-2xl">Items solicitados: </h4>
  <ol class="m-3 list-decimal list-inside">
    {% for item in licitacion.licitacionitem_set.all %}
      <li>
        <span class="font-semibold text-gray-900">{{ item.nombre }}:</span> ${{ item.price }}
      </li>
    {% endfor %}
  </ol>
  <br>
  <p><strong>Total Ofertas: </strong>{{ licitacion.oferta_set.all|length }}</p>
  <br>
  {% if oferta %}
    <h3 class="text-3xl font-extrabold">Oferta</h3>
    <div class="p-5 border">
      <h4 class="text-2xl"><strong>{{ oferta.empresa }}</strong></h4>
      <h5 class="text-xl">Owner: <strong>{{ oferta.owner }}</strong></h5>
    </div>
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Item name
              </th>
              <th scope="col" class="px-6 py-3">
                  Price
              </th>
          </tr>
        </thead>
        <tbody>
          {% for key, value  in prices.items %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ key }}
              </th>
              <td>
                {{ value }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {% if items_per_offer %}
    <div class="p-5 border">
      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3">
                  Items solicitados
                </th>
                {% for oferta in licitacion.oferta_set.all %}
                  <th scope="col" class="px-6 py-3">
                    {{ oferta.empresa }}
                  </th>
                {% endfor %}
                <th>
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              {% for item in items_per_offer.items %}
                <tr x-data="{open: false}">
                  <th class="px-6 py-3">
                    {{ item.0 }}
                  </th>
                  {% for key, pricing in item.1.items %}
                    <td class="px-6 py-3">
                      {% if pricing %}
                        <div>
                          <button type="button" x-on:click="open = ! open">
                            <strong>${{ pricing }}</strong>
                          </button>
                          <div x-show="open" x-transition.duration.300ms>
                            <label for="item">Marca:</label>
                            <span>Apple</span><br>
                            <label for="item2">Modelo:</label>
                            <span>Macbook Pro</span><br>
                            <label for="item3">Descripcion:</label>
                            <textarea id="w3review" name="w3review" rows="3" cols="50">
                              At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
                            </textarea><br>
                          </div>
                        </div>
                      {% else %}
                        <strong>{{ pricing }}</strong>
                      {% endif %}
                    </td>
                  {% endfor %}
                  <td>
                    <button
                    type="button"
                    x-on:click="open = ! open"
                    class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">

                    More Details
                  </button>
                  </td>
                </tr>

              {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  {% endif %}
</div>
{% endblock content %}
